html, body {
  margin: 0;
  padding: 0;
}

img {
  z-index: 3;
  position: absolute;
  max-width: 1000px;
  min-width: 1000px;
  margin-left: 103px;

}


.totalWrap {
/* background-color: blue; */
margin-top: 0px;
display: flex;
height: 500px;
flex-direction: row;
}

.motorContainer {
  /* background-color: red; */
  margin-left: 0px;
  margin-top: 75px;
  width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.rowMotor {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200%;
}

.motorcortex {
    width: 25%;
    height: 100%;
    /* min-width: 100px; */
}

.frontalContainer {
  /* background-color: green; */
  margin-top: 150px;
  margin-left: 325px;
  margin-right: 0px;
  width: 100px;
  height: 300px;
  flex-shrink: 0;
}

.rowFrontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
}

.Frontal {
    width: 34%;
    height: 100%;
}

.temporalContainer {
  /* background-color: purple; */
  flex-shrink: 0;
}

.temporalRow {
  display: flex;
  flex-direction: row;
}

.visualContainer {
  /* background-color: yellow; */
  margin-top: 140px;
  width: 145px;
  height: 425px;
  flex-shrink: 0;
}

.cerebellum {
  /* background-color: pink; */
  height: 100px;
  flex-shrink: 0;
}

.cerebellumRow {
  display: flex;
  flex-direction: row;
  margin-left: 150px;
}

.cerebellumVid {
  width: 50%;
  height: 100%;
}

.visualRow {
  display: flex;
  flex-direction: column;

}

.visualVid {
  width: 99%;
  height: 95%;
}
